.drop-zone {
  padding: 20px;
  // border: 2px dashed #aaa;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);

  min-height: 100px;
}

#root {
  height: calc(100vh - 116px);
  overflow: auto;
}

// .component {
//   border: 1px solid #ccc;
// }

.component-label {
  // padding: 1rem 0;
}

.top-highlight {
  visibility: hidden;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: pink;
  z-index: 10;
  pointer-events: none; /* ensures drag events pass through */
}

.component {
  position: relative;
  padding: 10px 0 10px 0;
  // border: 1px solid #ccc;
}

.drop-zone-label {
  padding-bottom: 1rem;
}

// .drag-box {
//   padding-top: 1rem;
// }

.drop-zone-message {
  padding-bottom: 1rem;
}

.component-card {
  // padding: 1rem;
  box-shadow: 1px 1px 2px 1px #c9c9d5;
  position: relative;
}

.selected {
  box-shadow: 1px 1px 2px 1px #0a2a75;
}
