<!-- Wrap everything in a form group to satisfy formGroupName -->
<div [formGroup]="formGroup" class="form-renderer">

    <ng-container *ngFor="let c of metadata; let metadataIndex = index">
        <ng-container [ngSwitch]="c.type">

            <!-- TEXTBOX -->
            <ng-container *ngSwitchCase="'TEXTBOX'">
                <ng-container *ngIf="c.type === 'TEXTBOX'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-textbox [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [placeholder]="c.placeholder || c.displayLabel" [required]="!!c.required"
                            [maxLength]="c.maxLength" [minLength]="c.minLength" [showClearButton]="true">
                        </app-textbox>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- TEXTAREA -->
            <ng-container *ngSwitchCase="'TEXTAREA'">
                <ng-container *ngIf="c.type === 'TEXTAREA'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-textarea [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [placeholder]="c.placeholder || c.displayLabel" [maxLength]="c.maxLength"
                            [minLength]="c.minLength" [required]="!!c.required" [rows]="c.rows">
                        </app-textarea>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!--EMAILBOX-->
            <ng-container *ngSwitchCase="'EMAILBOX'">
                <ng-container *ngIf="c.type === 'EMAILBOX'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-emailbox [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [placeholder]="c.placeholder || c.displayLabel" [required]="!!c.required">
                        </app-emailbox>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!--NUMBERBOX-->
            <ng-container *ngSwitchCase="'NUMBERBOX'">
                <ng-container *ngIf="c.type === 'NUMBERBOX'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-numberbox [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [placeholder]="c.placeholder || c.displayLabel" [min]="c.min" [max]="c.max"
                            [required]="!!c.required">
                        </app-numberbox>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- DROPDOWN -->
            <ng-container *ngSwitchCase="'DROPDOWN'">
                <ng-container *ngIf="c.type === 'DROPDOWN'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-dropdown [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [options]="c.options" [required]="!!c.required">
                        </app-dropdown>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- RADIO GROUP -->
            <ng-container *ngSwitchCase="'RADIO_GROUP'">
                <ng-container *ngIf="c.type === 'RADIO_GROUP'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-radio-group [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [options]="c.options" [required]="!!c.required">
                        </app-radio-group>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- CHECKBOX SINGLE -->
            <ng-container *ngSwitchCase="'CHECKBOX_SINGLE'">
                <ng-container *ngIf="c.type === 'CHECKBOX_SINGLE'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-checkbox-single [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [required]="!!c.required">
                        </app-checkbox-single>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- CHECKBOX MULTI -->
            <ng-container *ngSwitchCase="'CHECKBOX_MULTI'">
                <ng-container *ngIf="c.type === 'CHECKBOX_MULTI'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-checkbox-multi [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [options]="c.options" [required]="!!c.required">
                        </app-checkbox-multi>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- DATETIME -->
            <ng-container *ngSwitchCase="'DATETIME'">
                <ng-container *ngIf="c.type === 'DATETIME'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-datetime [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [placeholder]="c.placeholder" [required]="!!c.required" [minDate]="c.minDate" [maxDate]="c.maxDate">
                        </app-datetime>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- DATE ONLY -->
            <ng-container *ngSwitchCase="'DATEONLY'">
                <ng-container *ngIf="c.type === 'DATEONLY'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-date-only [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [placeholder]="c.placeholder" [required]="!!c.required" [minDate]="c.minDate" [maxDate]="c.maxDate">
                        </app-date-only>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- TIME ONLY -->
            <ng-container *ngSwitchCase="'TIMEONLY'">
                <ng-container *ngIf="c.type === 'TIMEONLY'">
                    <!-- Break before if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                    
                    <div class="component-wrapper" [class]="getComponentClasses(c)">
                        <app-time-only [formControlName]="c.name + '|||' + c.id!" [metadata]="c" [label]="c.displayLabel"
                            [placeholder]="c.placeholder" [required]="!!c.required" [minTime]="c.minTime" [maxTime]="c.maxTime">
                        </app-time-only>
                    </div>
                    
                    <!-- Break after if full-width -->
                    <div *ngIf="isFullWidthComponent(c)" class="line-break"></div>
                </ng-container>
            </ng-container>

            <!-- HEADING -->
            <ng-container *ngSwitchCase="'HEADING'">
                <ng-container *ngIf="c.type === 'HEADING'">
                    <app-heading [headingData]="c">
                    </app-heading>
                </ng-container>
            </ng-container>

            <!-- DESCRIPTION -->
            <ng-container *ngSwitchCase="'DESCRIPTION'">
                <ng-container *ngIf="c.type === 'DESCRIPTION'">
                    <app-description [descriptionData]="c">
                    </app-description>
                </ng-container>
            </ng-container>

            <!-- FORM GROUP -->
            <ng-container *ngSwitchCase="'FORM_GROUP'">
                <ng-container *ngIf="c.type === 'FORM_GROUP'">
                    <div class="form-group-container">
                        <div class="form-group-header">
                            <h3>{{ c.displayLabel }}</h3>
                        </div>
                        <div class="form-group-content" [formGroupName]="c.name + '|||' + c.id!">
                            <app-form-renderer [components]="c.components" [formGroup]="getFormGroup(c.name + '|||' + c.id!)">
                            </app-form-renderer>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <!-- FORM ARRAY -->
            <ng-container *ngSwitchCase="'FORM_ARRAY'">
                <ng-container *ngIf="c.type === 'FORM_ARRAY'">
                    <div class="form-array-container">
                        <div class="form-array-header">
                            <h3>{{ c.displayLabel }}</h3>
                            <button type="button" (click)="addFormArrayItem(c.name + '|||' + c.id!, c.components)"
                                class="add-item-btn">
                                Add {{ c.displayLabel }}
                            </button>
                        </div>
                        
                        <!-- Max Items Error Message -->
                        <div *ngIf="maxItemsErrorMessage" class="max-items-error">
                            {{ maxItemsErrorMessage }}
                        </div>
                        
                        <div class="form-array-content" [formArrayName]="c.name + '|||' + c.id!">
                            <div *ngFor="let item of getFormArray(c.name + '|||' + c.id!).controls; let i = index"
                                class="form-array-item">
                                <div class="item-header">
                                    <h4>{{ c.displayLabel }} {{ i + 1 }}</h4>
                                    <button type="button" (click)="removeFormArrayItem(c.name + '|||' + c.id!, i)"
                                        class="remove-item-btn">
                                        Remove
                                    </button>
                                </div>
                                <div class="item-content" [formGroupName]="i">
                                    <app-form-renderer [components]="c.components"
                                        [formGroup]="getFormGroupFromArray(c.name + '|||' + c.id!, i)">
                                    </app-form-renderer>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

        </ng-container>
    </ng-container>

</div>