<div style="position: relative;">
    <div>
        <form [formGroup]="formGroupForm">
            <div class="card-container" [title]="c.displayLabel">
                <div class="icon-container">
                    <img [src]="'imgs/form-fields/'+c.iconName" height="30px" alt="">
                </div>
                <div class="card-heading">
                    <div *ngIf="!showNameInput" (click)="toggleNameEdit()">{{c.name}}</div>
                    <input #nameInput *ngIf="showNameInput" class="form-control"
                        [id]="c.id+'-name'" formControlName="name" placeholder="Give a name to this component">
                </div>
                <div class="actions-container">
                    <button (click)="c.showMetadataDiv = !c.showMetadataDiv">
                        {{ c.showMetadataDiv ? 'Hide' : 'Show' }} Metadata
                    </button>
                    <img *ngIf="hasFormErrors()" src="imgs/icons/exclamation.png" alt="validation error"
                        class="error-icon" title="Form has validation errors" (click)="c.showMetadataDiv = true">
                </div>
            </div>

            <div *ngIf="c.showMetadataDiv" class="metadata-section">
                <div class="form-group">
                    <label [for]="c.id+'-displayLabel'" class="form-label">
                        Display Label
                        <span class="required-indicator">*</span>
                        <img class="info-icon" src="imgs/icons/info.png" alt="info"
                            title="This is the label that will be displayed in the actual form">
                    </label>
                    <input type="text" class="form-control" [id]="c.id+'-displayLabel'"
                        placeholder="Enter display label" formControlName="displayLabel"
                        [class.is-invalid]="isFieldInvalid('displayLabel')"
                        [class.is-valid]="!isFieldInvalid('displayLabel') && formGroupForm.get('displayLabel')?.dirty">
                    <div class="invalid-feedback" *ngIf="isFieldInvalid('displayLabel')">
                        {{ getFieldError('displayLabel') }}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="inputComponentDragService.showOverlay" [id]="c.id+'-overlay'"
        style="position:absolute; top:0; height: 100%; width: 100%; background-color: rgba(128, 128, 128, 0.205);">
    </div>
</div>